@media (max-width: 1110px) {
    .container {
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        width: 100%;
    }
    .logo {
        font-size: 40px;
    }
    .header-content {
        display: block;
    }
    .intro {
        margin-bottom: 20px;
        width: 100%;
    }
    img {
        width: 100%;
    }
}

/* @media (min-width: 520px) { 
    .nav {
        width: 100%;
        max-width: 550px;
    }
} */